#Welcome to the Session 4 Practice Exercises!


Below is a selection of activities based on what you learned this week in class.

## Activity 1
Import the Pandas library "pandas" with an alias of "pd" and then set the display options to show all rows and columns of dataframes when printed.

In [ ]:
#Activity 1 Completion Space

Click "Show code" below to see a sample solution to the activity.

In [1]:
# @title Activity 1 Solution { display-mode: "form" }
import pandas as pd

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

## Activity 2
The dataset for these practice exercises is in the CSV file found on the course GitHub repository at https://raw.githubusercontent.com/timmsgp/2024-intro-python/main/harbor-water-data.csv

Read the CSV file into a dataframe called **chaswater** and print it.

---

###The dataset attribution:

Pinckney, J. (2022) Vertical profiles of water quality parameters at sampling stations in the South Atlantic Bight from 2015-2020 (SAB BMA project). Biological and Chemical Oceanography Data Management Office (BCO-DMO). (Version 1) Version Date 2022-10-24. doi:10.26008/1912/bco-dmo.882177.1 Accessed 2/1/2024. Used under CC-BY 4.0 license.

In [ ]:
#Activity 2 Completion Space

*Click* "Show code" below to see a sample solution to the activity.

In [ ]:
# @title Activity 2 Solution { display-mode: "form" }

chaswater=pd.read_csv("https://raw.githubusercontent.com/timmsgp/2024-intro-python/main/harbor-water-data.csv") #File is in a GitHub repository.

print(chaswater)

## Activity 3
Print the summary data of the dataframe using the .describe() method. Then print the datatypes attribute of the dataframe using .dtypes.

In [ ]:
#Activity 3 Completion Space

Click "Show code" below to see a sample solution to the activity.

In [ ]:
# @title Activity 3 Solution { display-mode: "form" }

print(chaswater.describe())
print(chaswater.dtypes)

## Activity 4
Print the the counts of each of the values in the Location column. That is, the number of occurences of each distinct location.

In [ ]:
#Activity 4 Completion Space

Click "Show code" below to see a sample solution to the activity.

In [ ]:
# @title Activity 4 Solution { display-mode: "form" }

print(chaswater['Location'].value_counts())

## Activity 5
Select and print only the rows where the sampling depth was greater than or equal to 5 meters. Only show the columns Location, Temp, Sal, DO, and pH.

Hints:
* Use the .loc method to use column names.
* .loc() first specifies rows (you'll have your conditional logic here) and then columns (you'll specify the columns you want to see here).

In [ ]:
#Activity 5 Completion Space

Click "Show code" below to see a sample solution to the activity.

In [ ]:
# @title Activity 5 Solution { display-mode: "form" }
print(chaswater.loc[chaswater['Depth'] > 5,["Location","Temp","Sal","DO","pH"]])

#This is of the structure Dataframe.loc[row selector,columm selector]

## Activity 6
Print the mean of the temperatures observed on Cruise 1.

Hint:
* You'll select all the rows for Cruise 1, showing the temperature column
* You'll apply the .mean() method at the end of the selection statement.

In [ ]:
#Activity 6 Completion Space

In [ ]:
# @title Activity 6 Solution { display-mode: "form" }

print(chaswater.loc[chaswater['Cruise']==1,["Cruise","Temp"]].mean())

## Activity 7
Delete the "Sigma_t" column from the dataframe and then check to make sure it is gone from the dataframe by viewing only the first ten rows.

In [ ]:
#Activity 7 Completion Space

In [ ]:
# @title Activity 7 Solution { display-mode: "form" }

chaswater.drop(columns=['Sigma_t'],inplace=True)

chaswater.head(10)

# If you wish, try other operations on this dataframe in the code space below. Learning Pandas is best achieved by experimenting!